.jps_ListWrapper.jps_hideList > .jps_ListItem{display:none;}
.jps_ListWrapper.jps_showList > .jps_ListItem{display:block;}

.jps_ListWrapper.jps_hideList > .jps_AddButton{display:none;}
.jps_ListWrapper.jps_showList > .jps_AddButton{display:block;}

.jps_ListWrapper > .jps_ListItem{padding-left: 15px;}
	
.jps_ListWrapper.jps_showList > .jps_ListHeader:before{content: "- ";}
.jps_ListWrapper.jps_hideList > .jps_ListHeader:before{content: "+ ";} 

.jps_deletable:after{
	content: "-";
	float:right;
}

.jps_ListHeader{border-bottom-style: solid; border-bottom-width: 1px; width: auto;}

.jps_AddButton{float:right;}

/*
.jps_stdBox {width:360px;clear:both;}
*/

.jps_clearboth {clear:both; }
.jps_stdColumn {width:200px;float:left;}
.jps_2ndColumn {width:100px;float:left;}
.jps_short1Column {width:185px;float:left;}
.jps_columnRight(width:1em;float:right;)
