.boxit{
	border: 1px solid #000000;
}

.fhr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
.hhr{
    text-align:center;
    width:50%;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@keyframes fader{
	50% { opacity: 1;}
	60% { opacity: 0.8;}
	70% { opacity: 0.6;}
	80% { opacity: 0.4;}
	90% { opacity: 0.2;}
	100% { opacity: 0;}
	110% { opacity: 0;}
}
.fadeout{
	display:none; 
	position:fixed; 
	bottom:100px; 
	text-align:center; 
	width:100%;
	color:yellow;
}
.fadeoutInner{
	background-color:brown;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	animation-name: fader;
	animation-duration: 1.6s;
}

.jps_Title{
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

.jps_ListItem{
	margin-top: 10px;
	margin-bottom: 10px;
}

input, select{
	font-size: 100%;
	border:none;
}
.jps_Text:not(.jps_ConfigName){
	text-align:right;
	max-width:33%;
}
.jps_ConfigName{max-width:50%;}

.jps_ListWrapper.jps_showList > .jps_ListItem:not(.jps_Template){display:block;}

.jps_ListWrapper.jps_hideList > .jps_ListItem, 
	.jps_ListWrapper.jps_showList > .jps_ListItem.jps_hideKey,
	.jps_Template{display:none;}
	
.jps_ListWrapper.jps_hideList > .jps_AddButton{display:none;}
.jps_ListWrapper.jps_showList > .jps_AddButton{display:block;}

.jps_ListWrapper > .jps_ListItem{padding-left: 15px;}
	
.jps_ListWrapper.jps_showList > .jps_ListHeader:before{content: "- ";}
.jps_ListWrapper.jps_hideList > .jps_ListHeader:before{content: "+ ";} 

.jps_AddButton{float:right;}
.jps_AddUserConfigButton{float:right;}
.jps_RemoveButton{float:right;}

.jps_clearboth {clear:both; }

.jps_FloatRight{float:right;}
.jps_ShortFloatRight{float:right;}
.jps_stdColumn {float:left;}
.jps_Shorter1Column {float:left;}

.mButton{
	border-radius: 3px;
	text-align: center;
	border: 1px solid black;
	background-color: #D3D3D3;
	color: #000000;
	padding-right: 2px;
	padding-left: 2px;
	vertical-align: middle;
}

.oButton{
	border-radius: 50%;
	text-align: center;
	border: 1px solid black;
	background-color: #D3D3D3;
	color: #000000;
	vertical-align: middle;
}


.lButton, .slButton{
	border-radius: 3px;
	display:inline;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #D3D3D3;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	vertical-align: middle;
}

.slButton{font-size:85%;}

.spacer{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: gray;
	padding-right: 2px;
	padding-left: 2px;
	vertical-align: middle;
}

