.jps_ListWrapper.jps_showList > .jps_ListItem:not(.jps_Template){display:block;}

.jps_ListWrapper.jps_hideList > .jps_ListItem, 
	.jps_ListWrapper.jps_showList > .jps_ListItem.jps_hideKey,
	.jps_Template{display:none;}
	
.jps_ListWrapper.jps_hideList > .jps_AddButton{display:none;}
.jps_ListWrapper.jps_showList > .jps_AddButton{display:block;}

.jps_ListWrapper > .jps_ListItem{padding-left: 15px;}
	
.jps_ListWrapper.jps_showList > .jps_ListHeader:before{content: "- ";}
.jps_ListWrapper.jps_hideList > .jps_ListHeader:before{content: "+ ";} 

.jps_ListHeader{border-bottom-style: solid; border-bottom-width: 1px;}

.jps_AddButton{float:right;}
.jps_AddUserConfigButton{float:right;}
.jps_RemoveButton{float:right;}

.jps_clearboth {clear:both; }
.jps_stdColumn {width:200px;float:left;}
.jps_longColumn {width:215px;float:left;}
.jps_2ndColumn {width:100px;float:left;}
.jps_short1Column {width:185px;float:left;}
.jps_Shorter1Column {width:150px;float:left;}
.jps_veryWide2ndColumn {float:right;}
.jps_columnRight(width:1em;float:right;)

.jps_footer {
   position:fixed;
   bottom:0;
}

.mButton{
   text-align: center;
	border: 2px outset #888888;
	background-color: #55FFFF;
	padding-right: 2px;
	padding-left: 2px;
}

